@media screen and (max-width: 400px) {
    span#menub {
  background-color: #f47521;
  color: #fbfaf9;
  display: block;
  text-align:justify;
  padding: 10px;
  cursor: pointer;
} 
span#menub:hover {
    color: rgb(250, 100, 6);
    background-color: #f9f8f7;
    box-shadow: #fc6500 0px 0px 10px;
}  
header {
    flex-direction: column;
    align-items: center;
   
}  
.menu{
    flex-direction: column;
    justify-self: start;
}    
a {
    display: flex;
    flex-direction: column;
    
}  
br{
    display: block;
}           
}