@charset  "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
header > nav{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 1 auto;
}
.logo {
    display: flex;
    width: 150px;
    height: auto;
    margin: 10px;
}
.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px;
}
.menu > a{
    position: relative;
    color: #fbfaf9;
    text-decoration: none;
    border-radius: 15px;
    background-color: #f47521;
    font-size: 20px;
    padding: 10px 15px;
    transition: 0.5s ease;
}
.menu > a:hover {
    color: rgb(250, 100, 6);
    background-color: #f9f8f7;
    box-shadow: #fc6500 0px 0px 10px;
}
ul {
    display: none;
   
}

span#menub {
  background-color: #f47521;
  color: #fbfaf9;
  display: block;
  text-align:end;
  padding: 10px;
  cursor: pointer;
} 
span#menub:hover {
    color: rgb(250, 100, 6);
    background-color: #f9f8f7;
    box-shadow: #fc6500 0px 0px 10px;
}    
br{
    display: none;
    
}                