@charset  "UTF-8";
body {
   display: flex;
   justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}
.menu {
    display: flex;
    gap: 30px;
  
}
.menu > a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    transition: 0.5s ease;
}
.menu > a:hover {
    color: orange;
}